/*** Layout ***/
/* 
Mobile First Design
@media screen and (min-width: 768px) { Tablet start}
@media screen and (min-width: 1024px) { Laptop, Desktop  start} 
@media screen and (min-width: 1200px) { Section03 Desktop control} 
*/

body {
	min-width: 1200px;
}
.layout_center {
	width: 1024px;
	margin: 0 auto;
}
section {
	overflow: hidden;
}




/* Section01 */
.section01 {
	position: relative;
	width: 100%;
	height: 100vh;
	max-height: 1024px;
	// background-color: #191e3b;
	color: #451200;
	
	.layout_center {
		height: 100vh;
	}
	.title_contaienr {
		position: relative;
		top: 245px;
		left: 1%;
		z-index: 5;
	}
	
	h1 {
		color: #751614;
		& > small {
			display: block;
			margin-bottom: 0.1em;
			font-size: 26px;
			font-weight: 100;
			letter-spacing: 0.6em;
			color: #828282;
			line-height: 1.6;
			opacity: 0;
		}
		& > span {
			display: block;
			margin-top: 0;
			line-height: 1.3;
			font-size: 80px;
			font-weight: 300;
			letter-spacing: 0.1em;
			// text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
			opacity: 0;
			text-indent: -0.1em;
		}

		& + small {
			display: block;
			margin-top: 0.4em;
			font-size: 21px;
			font-weight: 300;
			letter-spacing: 0.2em;
			// color: #d16966;
			// text-shadow: 1px 1px 0 rgba(255, 255, 0, 0.1);
			opacity: 0;
		}

	}

	.img_conatainer {
		position: absolute;
		top: 0;
		left: 40%;
		bottom: 0;
		width: 60vw;
		background: url('../img/pc_section01_img01.jpg') left center no-repeat;
		background-size: cover;

		opacity: 0;
	}
	
	.right_msg {
		position: absolute;
		top: 70%;
		right: 5vw;
		font-size: 13px;
		font-weight: 100;
		letter-spacing: 0.4em;
		color: #fff;
		transform: rotate(90deg);
		transform-origin: top right;
	
		opacity: 0;
	}
}





/* Section02 */
.section02 {
	position: relative;
	padding: 880px 0 140px;
	background: #19192a url('../img/pc_section02_bg.jpg') center bottom no-repeat;
	background-position: 40% center;
	background-size: cover;
	color: #8194c2;
}

.strength li {
	position: absolute;
	margin: 0 !important;
	padding-top: 0 !important;
	padding-left: 40px;

	&:first-child {
		top: 290px;
		left: 10%;
		margin-left: 0;
		padding-top: 12vw;
		& > span:empty {
			height: 430px;
			top: -340px;
			left: 0;
		}
	}
	
	&:nth-child(2) {
		top: 420px;
		left: 41%;
		margin-top: 18vw;
		margin-left: 13.7vw;
		padding-top: 15vw;
		& > span:empty {
			height: 600px;
			top: -530px;
			left: 0;
		}
	}
	
	&:nth-child(3) {
		top: 200px;
		left: 66%;
		margin-top: 24vw;
		margin-left: 21.11vw;
		padding-top: 10vw;
		& > span:empty {
			height: 300px;
			top: -210px;
			left: 0;
		}
	}

	& > span:empty {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 51.94vw;
		width: 1px;
		background-color: #c94945;

		&::before {
			content: '';
			position: absolute;
			bottom: -16px;
			transform: translateX(-46%);
			/* left: -1.4vw; */
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: 1px solid #c94945;
			box-sizing: border-box;
		}
	}
	& > em {
		line-height: 3;
		font-size: 16px;
		font-weight: 900;
		color: #451200;
		letter-spacing: 0.1em;
	}
	p {
		line-height: 1.9;
		font-size: 20px;
		font-weight: 100;
		letter-spacing: 0.6em;
		color: #451200;

		span {
			font-weight: 400;
		}
	}

} //.strength li


.career_container {
	margin-top: 0;
	padding: 0;
	margin-left: 5%;
	box-sizing: border-box;
}

.section02 .layout_center {
	position: relative;
	padding-left: 44%;
	width: 100%;
	box-sizing: border-box;
}

.box_title {
	$styleColor: #451100;

	position: relative;
	display: block;
	width: 203px;
	padding: 16px 0;
	border-left: 3px solid $styleColor;
	border-bottom: 3px solid $styleColor;
	font-size: 20px; 
	font-weight: 900;
	letter-spacing: 0.1em;
	color: $styleColor;
	text-align: center;
	box-sizing: border-box;
	
	&::before,
	&::after {
		content: '';
		position: absolute;
	}
	&::before {
		top: 0;
		left: -1px;
		height: 0;
		width: 46px;
		border-top: 3px solid $styleColor;
	}
	&::after {
		bottom: -1px;
		right: 0;
		height: 23px;
		width: 0;
		border-right: 3px solid $styleColor;
	}

	span::after {
		content: '+';
		position: absolute;
		top: -0.5em;
		right: 0.1em;
		font-size: 30px;
		color: #d16966;
	}
}


.career_container {
	.box_title {
		margin-bottom: 2em;
	}
	
	& > p {
		position: absolute;
		top: 45%;
		right: 59%;
		margin: 0;
		font-size: 16px;
		/* font-weight: 500; */
		letter-spacing: 0.4em;
		line-height: 2;
		color: #451200;

		&::after {
			content: '';
			position: absolute;
			bottom: -0.5em;
			left: 105px;
			display: block;
			width: 275px;
			border-bottom: 2px solid #ffefe8;
		}

		span {
			display: block;
			color: #451200;
			font-size: 13px;
			// font-weight: 100;
		}
		small {
			display: inline-block;
			margin: 0;
			margin-left: 3em;
			font-size: inherit;
		}
	}
	& > span {
		display: block;
		margin-bottom: 0.5em;
		font-size: 26px;
		color: #d16966;
	} 
	ul li {
		position: relative;
		margin: 0;
		padding-left: 10em;
		font-family: 'NanumSquare';
		font-size: 16px;
		font-weight: 700;
		line-height: 2;
		color: #451200;

		span {
			&:first-of-type {
				position: absolute;
				left: 0;
				display: block;
			}
			&:nth-of-type(2) {
				display: inline-block;
				width: 115px;
				font-weight: 700;
			}

		}
	}
	
}








.skills {
	margin-top: 50px;
	color: #c94945;

	dt {
		margin-bottom: 1em;
		font-size: 14px;
		font-weight: 500;
	}
	dt:nth-of-type(n+2) {
		margin-top: 1.5em;
	}
	dd span {
		display: inline-flex;
		width: 63px;
		height: 63px;
		max-width: 80px;
		max-height: 80px;
		margin-right: 10px;
		margin-bottom: 25px;
		border-radius: 50%;
		background-color: #fff;
		justify-content: center;
		align-items: center;
		box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.3) inset,
								4px 4px 5px rgba(69, 18, 0, 0.4);
		vertical-align: top;
	}
}



/* Section03 */
.section03 {
	position: relative;
	padding: 150px 40px 100px;
	font-family: 'NanumSquare';
	/* font-weight: 400; */

	h2 {
		position: relative;
		margin-left: -25px;
		margin-bottom: 2em;
		padding-left: 65px;
		font-size: 50px;
		color: #451200;

		// small:first-of-type:empty {
		// 	display: block;
		// 	position: absolute;
		// 	top: -36px;
		// 	left: 25px;
		// 	width: 40px;
		// 	height: 40px;
		// 	background: url('../img/section03_tit_mark.png') center center no-repeat;
		// 	background-size: contain;
		// }
		small:last-of-type:empty {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 370px;
			width: 50px;
			border-top: 2px solid #fec68d;
			transform: rotate(-45deg);
			transform-origin: top right;
		}
		span {
			color: #fff;
		}
	}
	
	.layout_center {
		position: relative;
		width: auto;
		max-width: 1300px;
		& > p {
			position: relative;
			left: 40px;
			// margin-top: 1em;
			font-size: 18px;
			line-height: 1.6;
			color: #451200;

			&:nth-of-type(4),
			&:nth-of-type(2) {
				left: 37%;
			}
			&:nth-of-type(2) {
				position: absolute;
				top: 200px;
			}
			&:nth-of-type(3) {
				position: absolute;
				top: 360px;
				left: 69%;
				white-space: nowrap;
			}
			&:nth-of-type(4) {
				// margin: 0;
				margin-top: 2em;
				font-size: 24px;
				font-weight: 700;
			}
			em {
				font-weight: 800;
			}
		}
	}

	.bg_container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		
		&::after {
			content: 'A SENSUOUS DESIGNER';
			position: absolute;
			top: 220px;
			right: -10px;
			/* font-family: 'Noto Sans KR'; */
			font-size: 13px;
			font-weight: 100;
			letter-spacing: 0.4em;
			color: #858585;
			transform: rotate(90deg);
			transform-origin: top right;
		}
	
		[class*="line_"] {
			position: absolute;
			width: 100%;

			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 2vw;
				background: linear-gradient(to right, #ffdf97, #ffdf97 30%, #ff7b7b, #ff7b7b 90%);
				// border-top: 2vw solid #009cff;
				transform: rotate(-45deg);
			}
		}
	
		.line_1 {
			width: 100%;
			left: -58%;
			top: -15%;
			&::before {
				height: 8px;
			}
		}
		.line_2 {
			width: 200%;
			top: -14%;
			left: -88%;
			&::before {
				height: 150px;
			}
		}
		.line_3 {
			display: block;
			right: -610px;
			bottom: 430px;
			width: 800px;
			&::before {
				height: 10px;
				background: linear-gradient(to right, #ffdf97, #ffdf97 50%, #ff7b7b, #ff7b7b 90%);
			}
		}
	
		// .box {
		// 	position: absolute;
		// 	bottom: -50px;
		// 	right: -70px;
		// 	display: block;
		// 	width: 118px;
		// 	height: 118px;
		// 	background: url('../img/section03_tit_mark_big.png') center center no-repeat;
		// 	background-size: contain;
		// }
	}
} //.section03







/* Section04 */
.list_project {
	li {
		padding: 150px 0;
		box-sizing: border-box;
		color: #fff;

		&:nth-child(1) .contribution span,
		&:nth-child(1) {
			background-color: #081537;
		}
		&:nth-child(1) .contribution {
			background: linear-gradient(to bottom, #0466c8, #1f3764);
		}
		&:nth-child(1) .box_title span::after {
			color: #036ed9;
		}
		&:nth-child(1) .project_tit_box a + span {
			color: #8194c2;
		}

		&:nth-child(2) .contribution span,
		&:nth-child(2) {
			background-color: #ccc;
		}
		&:nth-child(2) .contribution {
			background: linear-gradient(to bottom, #f70615, #b10000);
		}

		&:nth-child(2) .box_title span::after {
			color: #f30614;
		}
		&:nth-child(2) .project_tit_box a + span {
			color: #a15358;
		}

		&:nth-child(3) {
			height: 1124px;
			background: linear-gradient(to right, #2b9abf, #774bf6);
			&:nth-child(3) .contribution span {
				background-color: #3c88cb;
			}
		}
		&:nth-child(3) .contribution {
			background: linear-gradient(to bottom, #7026f8, #3e1cb4);
		}
		&:nth-child(3) .box_title span::after {
			color: #5929fe;
		}
		&:nth-child(3) .project_tit_box .title + span {
			color: #743eda;
		}

		.box_title span::after {
			font-weight: 400;
		}
	}
	.layout_center {
		position: relative;
		margin: 0 auto;
		width: 90%;
		max-width: 1100px;
		min-height: 400px;
	}
	.box_title {
		$styleColor: #fff; 

		margin-bottom: 50px;
		color: $styleColor;
		border-color: $styleColor;
		&::before, &::after {
			border-color: $styleColor;
		}
	}
}

.project_tit_box {
	position: relative;
	display: inline-flex;
	flex-flow: column-reverse;
	width: 35%;
	margin-bottom: 0;

	.contribution {
		display: inline-flex;
		flex: 0 0 auto;
		width: 20vw;
		height: 20vw;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}
	.contribution span {
		width: 70%;
		height: 70%;
		font-size: 3.6vw;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.info {
		.title {
			display: block;
			height: 3em;
			font-size: 30px;
			& + span {
				font-size: 12px;
			}
		}
		.url {
			display: block;
			font-size: 14px;
			color: #fff;
			margin-top: 0.5em;
		}

	}
	.contribution {
		width: 108px;
		height: 108px;
		margin-top: 20px;

		span {
			font-size: 20px;
		}
	}
}


.list_project .prview {
	display: block;
}

.list_project li:nth-child(2) .prview ,
.list_project li:nth-child(1) .prview {
	right: -50px;
	width: auto;
	height: 400px;
	overflow: hidden;
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
	
	img {
		height: 100%;
	}
}


// .list_project li:nth-child(2) {
// 	padding-bottom: 80px;

// 	.prview img {
// 		width: auto;
// 		height: 110%;
// 		max-height: 610px;
// 		position: relative;
// 		left: 50%;
// 		transform: translateX(-45%);
// 	}
// }


.list_project .prview {
	position: absolute;
	top: 50%;
	right: 0;
	width: 74%;
	transform: translateY(-50%);
}

// .list_project li:nth-child(1) .prview,
// .list_project li:nth-child(2) .prview {
// 	max-width: 680px;
// }

// .list_project .preview_group {
// 	max-width: 550px;
// }
.list_project .preview_group {
	position: absolute;
	top: 0;
	right: -70px;
	width: 820px;
}
.preview_group a {
	float: left;
	width: 400px;
	height: 400px;
	overflow: hidden;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);

	&:hover img {
		transform: scale(1.05);
	}
	img {
		width: 100%;
		transition: all 0.5s ease;
	}
	&:nth-of-type(even) {
		// transform: translateX(20px);
		margin-left: 20px;
	}
	&:nth-of-type(n+3) {
		margin-top: 20px;
	}

	// &:nth-of-type(2n+3) {
	// 	transform: translateY(20px);
	// }
	// &:nth-of-type(2n+4) {
	// 	transform: translateY(20px) translateX(20px);
	// }
}




/* Last Section */
.last_section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vw;
	max-height: 600px;

	h2 {
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 0.3em;
		margin-right: -1em;
		color: #451200;
	}

	.bg_container {
		[class*="line_"] {
			position: absolute;
			z-index: -1;
			width: 100%;

			&::before {
				content: '';
				display: block;
				height: 2px;
				background-color: #ff7b7b;
				// border-top: 2px solid #009cff;
				transform: rotate(-45deg);
			}
		}
		.line_1 {
			top: 27%;
			left: -16%;
			max-width: 1000px;
			&::before {
				height: 5px;
				background: linear-gradient(to right, #ffdf97, #ffa085);
			}
		}
		.line_2 {
			top: -23%;
			right: auto;
			left: 74%;
			max-width: 1000px;
			&::before {
				height: 120px;
			}
		}
		[class*="box_"] {
			position: absolute;
			z-index: -1;
			background: url('../img/section03_tit_mark_big.png') center center no-repeat;
			background-size: 100%;
		}
		.box_1 {
			bottom: 90px;
			left: 10%;
			width: 118px;
			height: 118px;
		}
		.box_2 {
			top: 280px;
			right: 10%;
			width: 64px;
			height: 64px;
		}
	}
}

























